@import "tailwindcss";

@utility container {
  padding-inline: 20px;
  margin-inline: auto;
  max-width: 1179px;
}

:root {
  --purple: #7c3aed;
  --secondary: #4c1d95;
  --black-text: #2d3436;
}

@theme inline {
  --color-secondary: var(--secondary);
  --color-purple: var(--purple);
  --color-black-text: var(--black-text);
  --font-inter: var(--font-inter);
  --font-sora: var(--font-sora);
}
